html,body{
    margin: 0;
    padding: 0;
}
body {
    padding: 15px;
    background-color: #F2F3F5;
}

.layui-card-header{
    display: flex;
    justify-content: space-between; /*盒子在父亲的两端对齐*/
    align-items: center /*垂直居中*/
}

#form-add,
#form-edit{
    padding-top: 20px;
    padding-right: 30px;
}
